[submodule "Meric_android_app"]
	path = Meric_android_app
	url = https://github.com/benes-gyarab/Meric_android_app.git
[submodule "Meric_server"]
	path = Meric_server
	url = https://github.com/benes-gyarab/Meric_server.git
[submodule "Meric_arduino_central"]
	path = Meric_arduino_central
	url = https://github.com/benes-gyarab/Meric_arduino_central
